body{
    margin:0;
}
.nav ul{
    background-color:black;
    margin:0;
    text-align:right;
}
.nav a{
    color:gray;
    text-decoration: none;
    padding:10px;
    margin:10px;
}
.nav a:hover{
    color:white;
}
.nav h1{
    display:inline;
}
